html, body {
    height: 100%;    //body預設高度0    height假設300px
    margin: 0px;
    padding: 0px;
}


.navbar{
    >form{
        >a{
            height: 50px;
            width: 150px;
            margin-right: 5vw;
            padding-top: 10px;
        }
    }
}

.contain{
    display: flex;
    justify-content: center;
    margin-top: 1vw;
    margin-bottom: 1vw;
    >div{
        border-style: ridge;
        width: 40vw;
        height: 42vw;
        text-align: center;
        margin:0px,auto;
        >div{
            border-style: ridge;
        }
        >.userbox1{
            height: 30vw;
        }
        >.userbox2{
            height: 12vw;
        }
    }
    //uppicture.php
    >.form{
        height: 39vw;
        padding-top: 4vw;
        padding-right: 4vw;
        padding-left: 4vw;
        background-color: rgba(238, 238, 238, 0.74);
        border-radius: 20px;
        div{
            margin-top: 2vw; 
            label{
                margin-top: 2vw;   
            }
        }
        span{
            label{
                margin-top: 2vw; 
                margin-bottom: 0;
            }
        }
        button{
            margin-top: 7vw;
            height: 5vw; 
            width: 100%;
        }
    }
}

//footer
footer{
    background-color: rgb(255, 213, 213);
}
