html,
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.navbar > form > a {
  height: 50px;
  width: 150px;
  margin-right: 5vw;
  padding-top: 10px;
}

.contain {
  display: flex;
  justify-content: center;
  margin-top: 1vw;
}

.contain > div {
  border-style: ridge;
  width: 40vw;
  height: 42vw;
  text-align: center;
  margin: 0px, auto;
}

.contain > div > div {
  border-style: ridge;
}

.contain > div > .userbox1 {
  height: 30vw;
}

.contain > div > .userbox2 {
  height: 12vw;
}

footer {
  background-color: rgba(187, 187, 187, 0.753);
}

