html,
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.navbar > form > a {
  height: 50px;
  width: 150px;
  margin-right: 5vw;
  padding-top: 10px;
}

.contain {
  display: flex;
  justify-content: center;
  margin-top: 1vw;
  margin-bottom: 1vw;
}

.contain > div {
  border-style: ridge;
  width: 40vw;
  height: 42vw;
  text-align: center;
  margin: 0px, auto;
}

.contain > div > div {
  border-style: ridge;
}

.contain > div > .userbox1 {
  height: 30vw;
}

.contain > div > .userbox2 {
  height: 12vw;
}

.contain > .form {
  height: 39vw;
  padding-top: 4vw;
  padding-right: 4vw;
  padding-left: 4vw;
  background-color: rgba(238, 238, 238, 0.74);
  border-radius: 20px;
}

.contain > .form div {
  margin-top: 2vw;
}

.contain > .form div label {
  margin-top: 2vw;
}

.contain > .form span label {
  margin-top: 2vw;
  margin-bottom: 0;
}

.contain > .form button {
  margin-top: 7vw;
  height: 5vw;
  width: 100%;
}

footer {
  background-color: #ffd5d5;
}

